
#Ignore thumbnails created by Windows
Thumbs.db
#Ignore files built by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.vs/
#Nuget packages folder
packages/

/cloudgtw/.gradle/**
/cloudgtw/.settings/**
/cloudgtw/build/**
/cloudgtw/bin/**
.classpath

/hibernateexample/.gradle/**
/hibernateexample/.settings/**
/hibernateexample/bin/**
/hibernateexample/build/**


/restapi/.gradle/**
/restapi/.settings/**
/restapi/bin/**
/restapi/build/**

/soapws/.gradle/**
/soapws/.settings/**
/soapws/bin/**
/soapws/build/**
/soapws/src/generated-sources/**
